@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html,body{
    height:100%;
}
.center{
    max-width:1280px;
    margin: 0 auto;
    padding: 0 2%;
}
.clear{
    clear:both;
}

.select{
    color:red;
    font-style: italic;
}

/* HEADER */

header{
    padding:20px 0 35px 0;
}

.logo{
    float:left;
}

nav.menu-desktop{
    float:right;
    padding: 40px 0;
}

nav.menu-desktop ul li{
    display:inline-block;
}

.menu-desktop a, .menu-mobile a{
    text-decoration: none;
    color:black;
    font-variant: small-caps;
    font-size: 1.3em;
    padding: 0 20px;
}

nav.menu-mobile{
    display:none;
    float:right;
    margin: 40px;
    width:32px;
    height:32px;
    background-image: url('../img/icon_menu.png');
    cursor:pointer;
    background-size: contain;
    background-repeat: no-repeat;
}

.menu-mobile ul{
    width:100%;
    z-index: 999;
    position:absolute;
    top:15%;
    left:0;
    opacity:0;
    background-color: #fff;
    text-align: center;
}

.menu-mobile:hover ul{
    opacity: 1;
    transition-duration: 0.5s;
}

.menu-mobile li{
    padding: 10px 0;
    border:1px solid #ccc
}

.menu-mobile li:hover{
    background-color:#d8d8d8;
    transition-duration: 0.5s;
}

/*  */

/* HEADER -- BANNER!! */

section.banner{
    overflow:hidden;
    width:100%;
    height: auto;
    background-image:url('../img/bg.jpg');
    background-color:black;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right bottom;
}

.text-banner{
    padding:100px;
}

.text-single{
    width:314px;
    height: 70px;
    margin:20px 0;
    padding: 20px 30px;
    border-radius: 50% 0 50% 0;
    font-variant: small-caps;
    font-weight:100;
    color:white;
    background-color: #EB2D2D;
}

.text-single:nth-of-type(2){
    width: 200px;
}

.text-single:nth-of-type(3){
    width: 170px;
}

.text-single:nth-of-type(4){
    color:black;
    background-color: #fff;
}

/*  */

/* SECTION VEICULOS DESTAQUE */

.veiculos-destaque{
    padding: 30px 0;
}

.titulo-destaque{
    position:relative;
    margin: 0 auto;
    text-align: center;
}

.titulo-destaque .ln1{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1.5px;
    background-color:#000;
}

.veiculos-destaque .titulo-destaque > h2{
    position:relative;
    padding: 0 20px;
    top:-20px;
    left:0; 
    display:inline-block;
    text-align: center;
    font-variant: small-caps;
    font-size: 30px;
    background-color:white;
}

.vitrine-veiculos{
    float:left;
    width:33.3%;
    margin: 20px auto 40px auto;
    text-align: left;
}

.vitrine-veiculos img{
    width:90%;
}


.vitrine-veiculos h2{
    font-size:1.2em;
    font-style: italic;
    padding:2% 0;
}

.vitrine-veiculos p{
    font-size: 0.9em;
    font-style: italic;
    padding-bottom: 20px;
}

.button{
    padding: 10px;   
    text-decoration: none;
    color:white;
    background-color:#EB2D2D;
    border-bottom: 5px solid #B21E1E;
    display:inline-block;
    /* text-align: center; */
}

/*  */

/* COMENTÃRIOS EM DESTAQUE */

.comentarios-destaque{
    display:flex;
}

.servicos{
    width:50%;
    padding: 40px 0;
    background-color:#242424;
    color:white;
    text-align: center;
}

.servicos-wrapper{
    display:inline-block;
    text-align: left;
    padding-right:40px;
}

.servicos h2{
    font-variant: small-caps;
    font-style: italic;
    font-size:1.8em;
    margin: 10px 0;
}

.servicos ul{
    list-style-position: inside;
    list-style-type:lower-alpha;
    display:inline-block;
}

.servicos li{
    font-size: 1.2em;
    margin: 5px 0;
}

.servicos-wrapper a{
    margin-left: 20px;
    display: inline-block;
    vertical-align:bottom;
}

.depoimentos{
    width:50%;
    padding: 50px 100px ;
    background-color:#EB2D2D;
    color:white;
}

.depoimentos h2{
    font-variant: small-caps;
    font-style: italic;
    font-size:1.8em;
    padding: 10px 0;
}

.depoimento-wrapper p{
    font-size: 20px;
}

.depoimento-nav{
    color:#252525;
    margin-top: 30px;
}

.arrow{
    float:left;
}

.depoimento-nav img{
    margin:0 15px;
    cursor:pointer;
}

.nome-depoimento{
    float:right;
}

/*  */

/* CONTATO */

.contato{
    margin:5% 0;
}

.contato h2{
    position:relative;
    padding: 0 20px;
    top:-20px;
    left:0; 
    display:inline-block;
    text-align: center;
    font-variant: small-caps;
    font-size: 30px;
    background-color:white;
}

.form{
    /* text-align: center; */
    margin: 0 auto;
    max-width:600px;
}

.input-wrapper{
    float:left;
    padding:10px;
    text-align: center;
}

.w100{
    width:100%;
}

.w50{
    width:50%;
}

input[type=text], input[type=email]{
    width:100%;
    padding-left: 8px;
    height: 60px;
    line-height: 40px;
    border:1px solid #ccc;
    outline:0;
    font-size: 18px;
}

textarea{
    width:100%;
    height:140px;
    resize:none;
    outline:0;
    border:1px solid #ccc;
    padding: 8px;
    font-size: 18px;
}

input[type=submit]{
    outline:0;
    cursor:pointer;
    border-top:0;
    border-left:0;
    border-right:0;
    padding: 15px 80px;
    font-size: 20px;
}
/*  */

/* FOOTER */

footer.rodape{
    width:100%;
    padding:40px 0;
    background-color:#252525;
}

.menu-footer{
    float:left;
}

.menu-footer ul li{
    display:inline-block;
}

.menu-footer a{
    text-decoration: none;
    color:white;
    font-variant: small-caps;
    font-size: 16px;
    padding: 0 20px;
}

.rodape h3{
    float:right;
    color:white;
    font-size:14px;
}

/*  */

/* RESPONSIVO */

@media screen and (max-width: 1060px) {
    section.banner{
        background-size: auto;
        background-position: left bottom;
    }

    .comentarios-destaque{
        flex-direction: column;
    }

    .servicos{
        width:100%;
    }

    .servicos-wrapper{
        padding-right:0;
    }

    .servicos-wrapper ul{
        display:block;
    }

    .servicos-wrapper a{
        display:block;
        margin-left: 0;
        text-align: center;
        margin-top:20px;
    }

    .depoimentos{
        width:100%;
    }
}

@media screen and (max-width: 800px){
    .menu-desktop{
        display:none;
    }
    nav.menu-mobile{
        display:block;
    }
    .text-banner{
        padding: 40px;
    }

    .veiculos-destaque .titulo-destaque > h2{
        font-size: 25px;
    }

    .vitrine-veiculos{
        float:none;
        width:90%;
        text-align: center;
    }

    .input-wrapper{
        float:none;
    }

    .w50{
        width:100%;
    }

    .menu-footer{
        float:none;
        display:none;
    }

    .rodape h3{
        float:none;
        text-align: center;
        font-size:18px; 
    }

}

/*  */