@charset "UTF-8";

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,body{
    height:100%;
}

.clear{
    clear:both;
}

.center{
    width:100%;
    margin:0 auto;
}

/* Início Header */

.cabecalho{
    width:100%;
    height:76px;
    background-color:#212343;
    /* background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-position: 10% 45%; */
}

.cabecalho img{
    margin:1.7%;
}

.banner{
    width:100%;
    padding: 0 2%;
    height:557px;
    background-image: url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.banner > .center{height:100%;}

/* Início Lista */

.lista{
    display:inline-block;
    width:670px;
    color:white;
    background-color:#21234377;
    padding:5%;
    margin: 5% 0;
}

ul{
    list-style-position: inside;
}

ul li{
    padding: 2%;
    font-size: 1.2em;
    line-height: 22px;
}

/* Fim Lista */

/* Início Formulário */

div.form{
    padding:1.5%;
    position:relative;
    top:-2.5%;
    width:400px;
    height:calc(100% + 30px);
    background-color:white;
    background-clip: padding-box;
    border:7px solid #cccccc86;
    float:right;
}

div.form h2{
    font-size: 1.3em;
    font-weight: normal;
    color:rgb(77, 75, 75);
}

div.form p:nth-of-type(1){
    margin-top: 8%;
}

div.form p{
    font-size:1.1em;
    color:rgb(77, 75, 75);
    margin:2% 0;
}

input[type=text], input[type=email]{
    margin-bottom:3px;
    width: 100%;
    padding: 13px 10px;
    border:1px solid #ccc;
}
input[type=text]:focus, input[type=email]:focus{
    outline:0;
}

div.form h3{
    margin:8% 0;
    font-size:1em;
    font-weight:normal;
    color:rgb(77, 75, 75);
}

input[type=submit]{
    margin-top:5%;
    width:98%;
    padding:5%;
    background-color:#212343;
    font-size:1.4em;
    font-variant: small-caps;
    cursor:pointer;
    border: 0;
    color:white;
}

input[type=submit]:hover{
    background-color: #323670;
    transition-duration: 1s;
}

/* Fim Formulário */

/* Fim Header */

/* Início Main */

main{
    padding:2%;
    width:100%;
    background-color:#ccc;
    text-align: center;
}

/* Início Article */

article{
    width:100%;
}

article h2{
    font-variant: small-caps;
    margin: 10px 0;
    text-align: center;
    font-weight: 600;
    color:#333333;
}

article p{
    margin-top:20px;
    padding:0 5%;
    width:100%;
    max-width:1150px;
    display: inline-block;
    text-align: justify;
    color:#5e5e5e;
}

.seta{
    position: relative;
    top:55px;
    left:50%;
    transform: translate(-20px, 0);
    width: 40px;
    height: 40px;
    background-image: url(../images/arrow.png);
    background-size: 100%;
}

/* Fim Article */

/* Início Aside */

aside{
    text-align: center;
    padding: 4% 5%;
}

aside > h2{
    padding-bottom: 1%;
    font-weight:normal;
    font-variant: small-caps;
    color:#753799;
}

.container-single{
    margin: 3% 0 1% 0;
    padding: 0 4%;
    width:33.3%;
    float:left;
}

.container-single h2{
    padding: 3%;
    font-weight:normal;
    font-variant: small-caps;
    color:#753799;
}

.container-single p{
    text-align:justify;
}

/* Fim Aside */

/* Fim Main */

/* Início Footer */

footer{
    width:100%;
    border-top: 3px solid #333333;
    padding: 1% 4% 0.5% 4%;
}

footer p{
    text-align:center;
    font-variant: small-caps;
    color: #525252;
    font-size: 1.2em;
    font-weight:normal;
}

/* Fim Footer */

/* Início Responsivo */

@media screen and (max-width:1200px){

    .cabecalho{
        width:100%;
        height:auto;
        text-align: center;
    }

    .banner{
        width:100%;
        padding: 0 2%;
        height:auto;
    }

    .lista{
        width:50%;
        float:left;
        padding:5%;
        margin: 5% 0;
    }

    .form{
        float:right;
        top:0;
        width:50%;
        max-width:400px;
        height:100%;
        padding:1.5%;
        
    }

    .seta{
        top:40px;
        left:50%;

    }

}

@media screen and (max-width:880px){
    .lista{           
        margin-top:2%;
        float: none;
        display: inline-block;
        width: 100%;
    }

    div.form{
        float: none;
        display: block;
        margin: 0 auto;
        width: 100%;
    }

    aside > h2{
        margin-top:5%;
    }

    .container-single{    
    float:none;
    display: inline-block;
    width:100%;
    max-width: 600px;
    padding: 0 4%;
    }

    div.banner{
       padding-bottom: 5%; 
    }
}