@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');

:root{
    --header:#F5EFD6;
    --preto:#000;
    --branco: #fff;
    --cursiva:'Sriracha', cursive;
    --titulo: 'Passion One', sans-serif;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html,body{
    min-height:100vh;
    background-color: #BAE1F7;
}

/* Início Header */

.cabecalho{
    background-color:var(--header);
    text-align:center;
    font-family:var(--titulo);
    color:var(--preto);
    padding: 50px;
}
.cabecalho > h1{
    font-size: 4em;
    font-variant: small-caps;
}

.cabecalho > p{
    font-size:1.3em;
}

.cabecalho > p > a{
    text-decoration: none;
    color:#592FBC;
    font-size: 1.3em;
}

.cabecalho > p > a:hover{
    transition-duration:1s;
    padding:4px;
    background-color: #C6CEF1;
    border-radius: 5px;
    font-size:1.5em;
}

/* Fim Header */

/* Início Main */

main{
    font-family:var(--cursiva);
    margin: 5% 5%;
}

section.normal{
    background-color:var(--branco);
    padding: 10vh 0;
}

section.destaque{
    background-color:rgba(0, 0, 0, 0.479);
    box-shadow: inset 6px 6px 13px 0 rgba(0, 0, 0, 0.384);
    color:var(--branco);
    padding: 10vh 0;
}

section p{
    font-size: 1.2em;
    padding-left: 2%;
    line-height: 2em;
    padding-bottom: 1em;
}

section.destaque p{
    background-color:rgba(0, 0, 0, 0.315);
    display:inline-block;
    padding: 1% 3%;
    margin: 0 2%;
}

 /* Começo Efeito Parallax */

section#img01{
    background-image: url("../img/background001.jpg");
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

section#img02{
    background-image:url("../img/background002.jpg");
    background-position: right center;
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* Fim Efeito Parallax */

/* Fim Main */

/* Início Footer */
.rodape{
    background-color:var(--header);
    font-family:var(--titulo);
    color:var(--preto);
    text-align: center;
    padding: 20px;
}

.rodape > p {
    font-size: 1.8em;
    font-variant: small-caps;
}

.rodape > p > a{
    text-decoration:none;
    color:#592FBC;
}

.rodape > p > a:hover{
    transition-duration: 1s;
    background-color: #C6CEF1;
    border-radius:5px;
    padding: 4px;
}
/* Fim Footer */