@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Passion+One&family=Playpen+Sans:wght@300&family=Sriracha&display=swap');
:root{
    --fonte-texto:'Lato', sans-serif;
    --fonte-destaque: 'Playpen Sans', cursive;
}
*{
    margin:0;
    padding:0;
    font-family: var(--fonte-texto);
}
html,body{
    height:100%;
}
.clear{
    clear:both;
}
.center{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
    
}